@font-face {
    font-family: 'silkscreen';
    src: url(fonts/Silkscreen-Regular.ttf);
}

body,
html {
    border: 0;
    padding: 0;
    margin: 0;
}


* {
    font-family: 'silkscreen';
}


.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 54px;
    margin: 0px;
}

p {
    font-size: 24px;
    margin: 0px;
    margin-top: 8px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 100px);
    padding-top: 100px;
    gap: 40px;
}


.game-display {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.player-one,
.player-two {
    width: 360px;
    display: flex;
    justify-content: center;
}

.player-one {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.player-two {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}

.score {
    display: inline-block;
    padding-left: 12px;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    width: fit-content;
    align-self: center;
    justify-self: center;
}

.cell {
    border: 4px solid black;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    border-top: none;
}

.left {
    border-left: none;
}

.bottom {
    border-bottom: none;
}

.right {
    border-right: none;
}

h3 {
    height: 50px;
    font-size: 32px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
